body {
    background-color: hsl(0, 0%, 7%);
    color: white;
    font-family: "Fira Sans", sans-serif;
}

main {
    display: flex;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 45px;
}

.card {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}

.header__record {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__record img {
    width: 20px;
    max-width: 100%;
}

.header__record p {
    font-size: 0.875rem;
    color: hsl(240, 1%, 59%);
}

.header__record p span {
    color: white;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: hsl(240, 1%, 59%);
    margin-bottom: 10px;
}

.nav__wrapper {
    border-bottom: 1px solid hsl(240, 3%, 46%);
}

.nav span {
    color: white;
    font-weight: 600;
}

.nav__stats {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__mods {
    display: flex;
    gap: 20px;
}

.nav__difficulty {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button__mode,
.button__difficulty {
    color: white;
    font-size: 0.875rem;
    border: 1px solid hsl(240, 3%, 46%);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.button__mode.active,
.button__difficulty.active {
    border: 1px solid hsl(210, 100%, 65%);
    color: hsl(210, 100%, 65%);

}

.nav__mode {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav__timed,
.nav__passage {
    color: white;
    font-size: 0.875rem;
    border: 1px solid hsl(240, 3%, 46%);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    transition: all 0.3s ease;
}


.card__content {
    position: relative;
    display: flex;
    flex: 1;
}

.card__start {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.button__start {
    padding: 0.5rem 2.1rem;
    border-radius: 10px;
    background-color: hsl(214, 100%, 55%);
    color: hsl(0, 0%, 100%);
    outline: none;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #0a2a4a;
    box-shadow: 0 0 0 1px #4aa3ff;

}

.button__start:hover {
    border: 2px solid transparent;
    box-shadow: 0 0 0 1px transparent;
}

.card__text {
    width: 100%;
    height: 80%;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 7%);
    border: none;
    border-style: none;
    outline: none;
    resize: none;
    border-bottom: 1px solid hsl(240, 3%, 46%);
}


#card__input {
    position: absolute;
    opacity: 0;
    z-index: 0;
    cursor: auto;
    pointer-events: none;
}

.card__text span {
    color: hsl(240, 1%, 59%);
}



.card__text span.correct {
    color: #4caf50;
}

.card__text span.wrong {
    color: #ff5252;
    text-decoration: underline;
}

.card__text span.active {
    background-color: hsla(240, 1%, 59%, 0.401);
}


.modal {
    width: 100%;
    height: 100%;
    display: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.modal::before {
    content: "";
    position: absolute;
    display: var(--display);
    width: 32px;
    height: 32px;
    left: 20px;
    top: 160px;
    background-image: url(../images/pattern-star-2.svg);
    background-repeat: no-repeat;
    z-index: -1;
}

.modal::after {
    content: "";
    position: absolute;
    display: var(--display);
    width: 74px;
    height: 74px;
    left: calc(100vw - 20%) !important;
    top: 350px;
    background-image: url("../images/pattern-star-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    transform: scale(0.9);
}

.modal .card__modal {
    width: 670px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.modal .card__img {
    width: 75px;
    max-width: 100%;
    margin-bottom: 25px;
    border-radius: 50%;
}

.modal__boxes {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.modal__boxes #boxes {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border: 1px solid hsl(240, 3%, 46%);
    border-radius: 10px;
    text-align: start;
    color: hsl(240, 1%, 59%);
}

.modal__boxes #boxes:nth-child(3) span {
    color: hsl(240, 1%, 59%)
}

.modal__boxes #boxes span {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.bg {
    display: none;
    position: absolute;
    width: 100%;
    height: 326px;
    bottom: 0;
}

.bg.active {
    display: block;
}

.bg .modal__bg {
    width: 100%;
}

.char__correct {
    color: hsl(140, 63%, 57%) !important;
}

.char__wrong {
    color: hsl(354, 63%, 57%) !important;
}

.card__modal .button__restart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 7%);
    width: auto;
    padding: 1rem;
    height: 40px;
    gap: 10px;
    border-radius: 10px;
    outline: none;
    margin-top: 50px;
    font-weight: 600;
    cursor: pointer;
}

.card__modal .button__restart img {
    width: 15px;
    height: 15px;
    margin: 0;
}

.container__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav__dropdowns {
    display: none;
    gap: 10px;
    cursor: pointer;
}

@media (max-width: 1024px) {

    .container {
        padding: 0;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 860px){
    .modal::after {
        left: 550px;
    }
}

@media (max-width: 650px) {

    .nav {
        gap: 10px;
    }

    .nav__stats,
    .nav__mods {
        width: 100%;
    }

    .nav__stats {
        justify-content: center;
        font-size: 1.875rem;
        text-align: center;
    }

    .nav__difficulty,
    .nav__mode {
        display: none;
    }

    .nav__mods-line {
        display: none;
    }

    .nav__dropdowns {
        width: 100%;
        display: flex;
        padding: 0 12px;
        background-color: hsl(0, 0%, 7%);

    }

    .nav__dropdowns select {
        width: 50%;
        background: #111;
        color: white;
        border: 1px solid hsl(240, 3%, 46%);
        padding: 6px 10px;
        border-radius: 6px;
    }

    .modal::after {
        left: 450px;
    }

}


@media (max-width: 430px) {
    .nav__stats {
        font-size: 1.6rem;
    }

    .modal {
        align-items: start;
        padding: 0 20px;
    }

    .modal .card__img {
        width: 50px;
    }

    .modal__text {
        font-size: 0.600rem;
    }

    .modal__boxes #boxes {
    padding: 0.675rem;
    }

    .modal::before {
        top: 0px;
        left: 20px;
        transform: scale(0.8);
    }

    .modal::after {
        top: 438px;
        left: calc(100vw - 20%);
        transform: scale(0.5);
    }

    .modal__boxes {
        width: 100%;
        flex-direction: column;
    }

    .modal img {
        width: 50px;
    }

}

@media (max-width: 375px) {
    .nav__stats {
        font-size: 1rem;
        gap: 14px;
    }
}