body {
    background-color: #000000;
    color: white;
    font-family: "Fira Sans", sans-serif;
}

main {
    display: flex;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 45px;
}

.card {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}

.header__record {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__record img {
    width: 20px;
    max-width: 100%;
}

.header__record p {
    font-size: 0.875rem;
    color: hsl(240, 1%, 59%);
}

.header__record p span {
    color: white;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: hsl(240, 1%, 59%);
    margin-bottom: 10px;
}

.nav__wrapper {
    border-bottom: 1px solid hsl(240, 3%, 46%);
}

.nav span {
    color: white;
    font-weight: 600;
}

.nav__stats {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__mods {
    display: flex;
    gap: 20px;
}

.nav__difficulty {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button__mode,
.button__difficulty {
    color: white;
    font-size: 0.875rem;
    border: 1px solid hsl(240, 3%, 46%);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.button__mode.active,
.button__difficulty.active {
    border: 1px solid hsl(210, 100%, 65%);
    color: hsl(210, 100%, 65%);
}

.nav__mode {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav__timed,
.nav__passage {
    color: white;
    font-size: 0.875rem;
    border: 1px solid hsl(240, 3%, 46%);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    transition: all 0.3s ease;
}

.nav__timed.active,
.nav__passage.active {
    border: 1px solid hsl(210, 100%, 65%);
    color: hsl(210, 100%, 65%);
}

.card__content {
    display: flex;
    flex: 1;
}

.card__text {
    width: 100%;
    height: 90%;
    font-size: 1.5rem;
    background-color: #313030;
    border: none;
    border-style: none;
    outline: none;
    resize: none;
}

#card__input {
    position: absolute;
    opacity: 0;
    /* pointer-events: none; */
}

.card__text span{
    color: hsl(240, 1%, 59%);
}



.card__text span.correct {
    color: #4caf50;
}

.card__text span.wrong {
    color: #ff5252;
}

.card__text span.active {
    border-left: 2px solid #2b2c2d;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}